ModuleNode
{
	background-color: #3F3F3F;
	border-width: 0;
	border-radius: 3;
}

ModuleNode Button
{
	border-radius: 0;
	border-color: #3F3F3F;
}

ModuleNode Button:hover
{
	border-radius: 0;
	border-color: #3F3F3F;
	background-color: green;
}

#deletePortButton:hover
{
	border-radius: 0;
	border-color: #3F3F3F;
	background-color: brown;
}