ModuleNode  #selection-border, SubModuleNode #selection-border
{
	color: black;
	border-width: 0;
	border-radius: 0;
}

ModuleNode #node-border, SubModuleNode #node-border
{
	background-color: #3F3F3F;
	margin: 0;
	border-width: 0;
	border-radius: 3;
}

ModuleNode #title-label, SubModuleNode #title-label
{
	font-size: 12;
	margin: 10;
	align: middle-center;
}